services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: travel_app-php
    working_dir: /var/www/backend
    volumes:
      - ./backend:/var/www/backend
      - composer_cache:/tmp/composer
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      mailpit:
        condition: service_started
    restart: unless-stopped

  caddy:
    image: caddy:2.10
    container_name: travel_app-caddy
    ports:
      - "8081:8081"
    environment:
      PORT: 8081
      PHP_FPM_UPSTREAM: app
    volumes:
      - ./backend:/var/www/backend
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      app:
        condition: service_started
    restart: unless-stopped

  db:
    image: postgis/postgis:18-3.6
    container_name: travel_app-db
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5434:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE} || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s

  redis:
    image: redis:8.2.2-alpine
    container_name: travel_app-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit:v1.20.5
    container_name: travel_app-mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    restart: unless-stopped

  node:
    build:
      context: ./frontend
      dockerfile: ../docker/node/Dockerfile
    working_dir: /usr/src/frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/frontend
      - /usr/src/frontend/node_modules
    restart: unless-stopped

volumes:
  pgdata:
  composer_cache:
  node_modules:
