services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: travel_app-php
    working_dir: /var/www/backend
    volumes:
      - ./backend:/var/www/backend
      - composer_cache:/tmp/composer
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis
      - mailpit
    restart: unless-stopped

  caddy:
    image: caddy:2.10
    container_name: travel_app-caddy
    ports:
      - "8081:8081"
    volumes:
      - ./backend:/var/www/backend
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - app
    restart: unless-stopped

  db:
    image: postgis/postgis:18-3.6
    container_name: travel_app-db
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    restart: unless-stopped

  redis:
    image: redis:8.2.2-alpine
    container_name: travel_app-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit:v1.20.5
    container_name: travel_app-mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    restart: unless-stopped

  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    container_name: travel_app-node
    working_dir: /usr/src/frontend
    command: sh -lc "npm run dev -- --host"
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/frontend
      - node_modules:/usr/src/frontend/node_modules
    depends_on:
      - app
    restart: unless-stopped

volumes:
  pgdata:
  composer_cache:
  node_modules:
