:8081 {
    root * /var/www/backend/public
    encode gzip

    @api path /api/*
    handle @api {
        reverse_proxy app:9000
    }

    try_files {path} /index.php
    php_fastcgi app:9000

    file_server
}
