@import "tailwindcss";

@layer components {
    .btn-primary {
        @apply inline-flex items-center justify-center gap-2 rounded-full px-5 py-2.5 text-sm font-semibold
        bg-gradient-to-r from-blue-600 to-purple-600 text-white shadow-lg
        hover:opacity-95 active:opacity-90 transition
        focus:outline-none focus:ring-2 focus:ring-blue-500/30
        disabled:opacity-50 disabled:cursor-not-allowed
        disabled:hover:opacity-50 disabled:active:opacity-50;
    }

    .btn-primary-icon {
        @apply inline-flex items-center justify-center rounded-full w-11 h-11 shrink-0 flex-none
        bg-gradient-to-r from-blue-600 to-purple-600 text-white shadow-lg
        hover:opacity-95 active:opacity-90 transition
        disabled:opacity-50 disabled:cursor-not-allowed
        focus:outline-none focus:ring-2 focus:ring-blue-500/30;
    }

    .card-surface {
        @apply bg-white rounded-2xl border border-gray-200 shadow-sm;
    }

    .card-pad {
        @apply p-5 sm:p-6;
    }
    .btn-back {
        @apply inline-flex items-center justify-center gap-2 rounded-full px-5 py-2.5 text-sm font-semibold
        text-white shadow-lg
        bg-gradient-to-r from-slate-600 to-slate-800
        hover:opacity-95 active:opacity-90 transition
        disabled:opacity-50 disabled:cursor-not-allowed
        focus:outline-none focus:ring-2 focus:ring-blue-500/30;
    }


}
